<!DOCTYPE html>
<html>
  <head>
    <title>DQRCG</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"  href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}" >
    <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}" >
  </head>
  <body>
    <h1>QR Generator for URL</h1>

    <form action="{{ url_for('generate_qr_code', name=data) }}" method="post">
      <label for="homepage">Add your url:</label>
      <input type="url" id="url" name="url" /><br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
